/* Display */

.d-flex {
    display: flex;
}


/* Flex */

.flex-grow {
    flex-grow: 1;
}


/* Align & Justify */

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}